@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100..900&family=League+Spartan:wght@100..900&family=Manrope:wght@200..800&family=Raleway:wght@100..900&display=swap");
:root {
  --bg-main-1: #3a4764;
  --bg-toggle-1: #232c43;
  --bg-screen-1: #182034;
  --key-bg-1: #eae3dc;
  --key-shadow-1: #b4a597;
  --key-bg-red-1: #637097;
  --key-shadow-red-1: #404e72;
  --key-bg-equals-1: #d03f2f;
  --key-shadow-equals-1: #93261a;
  --text-dark-1: #444b5a;
  --text-light-1: #ffffff;
  --key-hover-1: #ffffff;
  --key-hover-red-1: #9dafdd;
  --key-hover-equals-1: #cf6a5f;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "League Spartan", sans-serif;
  background-color: var(--bg-main-1);
  transition: background-color 0.3s;
}

body.theme-2 {
  --bg-main-1: #e6e6e6;
  --bg-toggle-1: #d3cdcd;
  --bg-screen-1: #eeeeee;
  --key-bg-1: #e5e4e1;
  --key-shadow-1: #a79e91;
  --key-bg-red-1: #388187;
  --key-shadow-red-1: #1b6066;
  --key-bg-equals-1: #c85402;
  --key-shadow-equals-1: #873901;
  --text-dark-1: #35352c;
  --text-light-1: #ffffff;
  --key-hover-1: #ffffff;
  --key-hover-red-1: #36d1df;
  --key-hover-equals-1: #ed873f;
}

body.theme-2 .calculator__title,
body.theme-2 .calculator .theme-switcher__label,
body.theme-2 .calculator .theme-switcher__numbers, body.theme-2 .calculator__display {
  color: var(--text-dark-1);
}

body.theme-3 {
  --bg-main-1: #17062a;
  --bg-toggle-1: #1e0936;
  --bg-screen-1: #1e0936;
  --key-bg-1: #331c4d;
  --key-shadow-1: #881c9e;
  --key-bg-red-1: #56077c;
  --key-shadow-red-1: #be15f4;
  --key-bg-equals-1: #00e0d1;
  --key-shadow-equals-1: #6cf9f2;
  --text-dark-1: #ffe53d;
  --text-light-1: #ffffff;
  --key-hover-1: #6a34a2;
  --key-hover-red-1: #9e1aca;
  --key-hover-equals-1: #6cf9f2;
}
body.theme-3 .calculator__title,
body.theme-3 .calculator .theme-switcher__label,
body.theme-3 .calculator .theme-switcher__numbers, body.theme-3 .calculator__display {
  color: var(--text-dark-1);
}
body.theme-3 body.theme-1 .calculator__title,
body.theme-3 body.theme-1 .calculator .theme-switcher__label,
body.theme-3 body.theme-1 .calculator .theme-switcher__numbers, body.theme-3 body.theme-1 .calculator__display {
  color: var(--text-light-1);
}

.calculator {
  width: 100%;
  max-width: 540px;
  padding: 2rem;
}
.calculator__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-light-1);
}
.calculator__title {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}
.calculator__display {
  background-color: var(--bg-screen-1);
  color: var(--text-light-1);
  padding: 2rem;
  text-align: right;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1.5rem 0;
  border-radius: 10px;
  min-height: 2.5rem;
  overflow-x: auto;
  white-space: nowrap;
}
.calculator__keypad {
  background-color: var(--bg-toggle-1);
  padding: 1.5rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.calculator__key {
  background-color: var(--key-bg-1);
  box-shadow: 0 4px var(--key-shadow-1);
  color: var(--text-dark-1);
  border: none;
  border-radius: 10px;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  font-family: "League Spartan", sans-serif;
  width: 85%;
  height: 90%;
}
.calculator__key:hover {
  background-color: var(--key-hover-1);
}
.calculator__key--del, .calculator__key--reset {
  background-color: var(--key-bg-red-1);
  box-shadow: 0 4px var(--key-shadow-red-1);
  color: white;
  font-size: 1.2rem;
}
.calculator__key--del:hover, .calculator__key--reset:hover {
  background-color: var(--key-hover-red-1);
}
.calculator__key--reset {
  grid-column: span 2/span 2;
  width: 95%;
}
.calculator__key--equals {
  background-color: var(--key-bg-equals-1);
  box-shadow: 0 4px var(--key-shadow-equals-1);
  color: var(--key-bg-1);
  grid-column: span 2/span 2;
  grid-column-start: 3;
  width: 95%;
}
.calculator__key--equals:hover {
  background-color: var(--key-hover-equals-1);
}

.theme-switcher {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.75rem;
  font-weight: 700;
}
.theme-switcher__label {
  font-weight: 700;
}
.theme-switcher__options {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.theme-switcher__numbers {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  font-weight: 700;
}
.theme-switcher__number {
  margin: 0 5px;
  padding: 0.3rem;
}
.theme-switcher__toggle {
  width: 70px;
  height: 25px;
  background-color: var(--bg-toggle-1);
  border-radius: 25px;
  position: relative;
  cursor: pointer;
}
.theme-switcher__toggle-ball {
  width: 15px;
  height: 15px;
  background-color: var(--key-bg-equals-1);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: left 0.3s;
}
.theme-switcher__toggle-ball:hover {
  background-color: var(--key-hover-equals-1);
}

@media (max-width: 480px) {
  .calculator {
    padding: 1rem;
  }
  .calculator__keypad {
    gap: 0.75rem;
    padding: 1rem;
  }
  .calculator__key {
    font-size: 1.25rem;
    padding: 0.75rem;
  }
  .calculator__display {
    font-size: 2rem;
    padding: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */