body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f4f0;
    color: #333;
}

.recipe-container {
    max-width: 700px;
    margin: 2rem auto;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe-header {
    text-align: left;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.recipe-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.recipe-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #2c3e50;
}

.recipe-description {
    font-size: 1rem;
    color: #7f8c8d;
    padding: 0;
}

.prep-time, .ingredients, .instructions, .nutrition {
    padding: 1.5rem;
    border-radius: 10px;
    margin: 1rem auto;
    max-width: 85%;
    text-align: left;
}

.prep-time {
    background-color: #FFF7FC;
}

.prep-time h2, .ingredients h2, .instructions h2, .nutrition h2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #693b58;
    margin-bottom: 0.75rem;
    text-align: left;
}

.ingredients {
    padding-top: 1rem;
}

.instructions {
    border-top: 2px solid #ccc;
    padding-top: 1rem;
}

.nutrition {
    border-top: 2px solid #ccc;
    padding-top: 1rem;
}

ul, ol {
    padding-left: 2rem;
    margin-right: 1rem;
    text-align: left;
}

ol li::marker {
    color: #8F4A33;
    font-weight: bold;
}

.nutrition-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.5rem;
    border-bottom: 2px solid #ecf0f1;
    font-weight: bold;
    color: #8F4A33;
    text-align: left;
}
