@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    /* Primary Colors */
    --primary-text: hsl(30, 10%, 34%);
    --primary-bg: #F3E5D8;
    --primary-heading: hsl(24, 5%, 18%);
    --primary-accent: hsl(14, 45%, 36%);
    
    /* Secondary Colors */
    --secondary-bg: #fff;
    --secondary-accent: hsl(332, 51%, 32%);
    --secondary-light-bg: hsl(330, 100%, 98%);
    --secondary-border: hsl(30, 18%, 87%);
    
    /* Misc */
    --grey-line: rgb(186, 183, 183);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

.recipe {
    max-width: 752px;
    background-color: var(--secondary-bg);
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.recipe__image {
    width: 100%;
    border-radius: 6px;
}

.recipe__title {
    font-family: 'Young Serif', serif;
    font-size: 2.5rem;
    color: var(--primary-heading);
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.recipe__description {
    color: var(--primary-text);
}

.recipe__prep-time {
    background-color: var(--secondary-light-bg);
    padding: 1rem;
    border-radius: 6px;
}

.prep-time__title {
    color: var(--secondary-accent);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.prep-time__list {
    padding-left: 1.5rem;
    color: var(--primary-text);
}

.ingredients, .instructions, .nutrition {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ingredients__title, .instructions__title, .nutrition__title {
    font-family: 'Young Serif', serif;
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--primary-accent);
}

ul, ol {
    padding-left: 2rem;
}

ul li::marker, ol li::marker {
    color: var(--secondary-accent);
    font-weight: bold;
}

.instructions__list li {
    padding-bottom: 0.5rem;
}

.nutrition__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--secondary-border);
}

.nutrition__label {
    text-align: left;
    padding-left: 2rem;
}

.nutrition__value {
    text-align: left;
    font-weight: bold;
    color: var(--primary-accent);
}

.nutrition__item--last {
    border-bottom: none;
}

.recipe__separator {
    border: 0;
    height: 1px;
    background-color: var(--grey-line);
    margin: 1.5rem 0;
}

@media screen and (max-width: 768px) {
    body {
        padding: 0;
    }
    .recipe {
        padding: 1rem;
        gap: 1rem;
    }
    .recipe__image {
        border-radius: 0px;
    }
}

@media screen and (max-width: 480px) {
    .recipe__title {
        font-size: 1.8rem;
    }
    .prep-time__title {
        font-size: 1.2rem;
    }
    .ingredients__title, .instructions__title, .nutrition__title {
        font-size: 1.5rem;
    }
    p, li {
        font-size: 0.95rem;
    }
}
